<header class="section__container header__container">
  <div class="header__image__container">
    <div class="header__content">
      <h1>Profitez de vos vacances de rêve</h1>
      <p>Réserver une Maison, Un appartement ou un chalet au Prix le plus bas.</p>
    </div>
    <div class="booking__container">
      <form>
        <div class="form__group">
          <div class="input__group">
            <input type="text" maxlength="2" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"/>
            <label># Lits</label>
          </div>
          <p>Entrer le nombre de Lits desirer</p>
        </div>
        <div class="form__group">
          <div class="input__group">
            <input type="text" maxlength="3" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"/>
            <label># Min de Nuits</label>
          </div>
          <p># Minimun de Nuit a passser.</p>
        </div>
        <div class="form__group">
          <div class="input__group">
            <input type="text" maxlength="3" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');"/>
            <label># Max de Nuits</label>
          </div>
          <p># Minimun de Nuit a passser.</p>
        </div>
      </form>
      <button class="btn" ><i class="ri-search-line"></i></button>
    </div>
  </div>
</header>


